.bd {
	background: url('/images/awesome.jpg') no-repeat fixed center;
}
.back-image {
	border-radius: 15px;
}

.login {
	margin-top: 20%;
	margin-left: 45%;
}

.pin {
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid-column;
	column-break-inside: avoid;
	padding: 15px;
	background-color: white;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

#columns {
	-webkit-column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 15px;
	column-fill: auto;
}

@media (min-width: 500px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 830px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

@media (min-width: 1220px) {
	#columns {
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
}
