
<%/****************************************************************************************
 This comment is inside JavaScript exit marks, so it will not render on that HTML page.  
 This page is the default page for your node server and is used just to verify that node is running.
 The extension EJS stands for Embedded JavaScript and is HTML built by JavaScript.
 YOU SHOULD NOT NEED TO CHANGE THIS PAGE
 ***************************************************************************************/%>

<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type='text/javascript' src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type='text/javascript' src='/js/bootstrap.min.js'></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>

	<link rel='stylesheet' type='text/css' href='/css/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='/css/bootstrap.css'/>
	<link rel='stylesheet' type='text/css' href='/css/bootstrap-responsive.css'/>
	<link rel='stylesheet' type='text/css' href='/css/bootstrap-responsive.min.css'/>
	<link rel='stylesheet' type='text/css' href='/css/style.css'/>

	<title>Node JS Works!</title>

</head>
<body>
<h1 style="color:black;">Node JS Works!  Congratulations!</h1>
</body>
</html>